@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..400,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@200;300;400;500;600&family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/product-sans');

:root {
  --FontFamily-GoogleSans: 'Google Sans', sans-serif;
  --md-sys-color-surface: #f7f8ff;
  --md-sys-color-primary: #1427a3;
  /* --md-filled-select-text-field-container-shape: 0px;
  --md-filled-select-text-field-container-color: #f7faf9;
  --md-filled-select-text-field-input-text-color: #005353;
  --md-filled-select-text-field-input-text-font: system-ui; */
}

md-outlined-text-field, md-outlined-select {
  width: 100%;
  display: block;
}

* {
  font-family: var(--FontFamily-GoogleSans);
  box-sizing: border-box;
}
body, html {
  padding: 0px;
  margin: 0px;
}
.response {
  width: 100%;
  max-width: 1450px;
  margin: auto;
}
header {
  width: 100%;
  height: 48px;
  background-color: var(--md-sys-color-surface);
  overflow: hidden;
}
header .response {
  display: flex;
  align-items: center;
}
header .response .nav-title {
  width: calc(100% - 340px);
  margin: 0px;
  padding: 0px 20px;
}
header .response .nav-title h3 {
  margin: 0px;
}
header .response .nav-tab {
  width: 340px;
}

.code-view {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px 0px;
}
.code-view .name-text {
  width: 100%;
  padding: 8px 14px;
  background-color: #e5eeff;
  font-size: 12px;
}
.code-view pre {
  background-color: #040b22;
  margin: 0px;
  padding: 10px 14px;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  overflow-y: hidden;
}

.form-group {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}

.main-form {
  width: 420px;
  padding: 8px 14px;
}
.main-form label {
  display: block;
  margin: 14px 0px;
}
.main-form label.checkbox-flex {
  display: flex;
  align-items: center;
  margin: 0px;
}
.main-form label.checkbox-flex label {
  margin: 0px;
}
.main-form label.checkbox-flex md-checkbox {
  margin: 9px;
  margin-left: 0px;
}
.content-result {
  width: calc(100% - 420px);
  padding: 8px 14px;
  padding-top: 60px;
}

@media only screen and (max-width: 840px) {
  header {
    height: auto;
  }
  header .response {
    height: auto;
    display: block;
  }
  header .response .nav-title {
    height: 60px;
    display: flex;
    align-items: center;
  }
  header .response .nav-title, header .response .nav-tab {
    width: 100%;
  }
  .main-form, .content-result {
    width: 100%;
    padding-top: 8px;
  }
}
